.naslovna {
    /* background-color: rgb(231, 206, 255); */
    padding: 1em;
}
.naslovna img {
    padding: 1em;
    width: 75%;
}
h1 {
    text-align: center;
    font-family: Roboto Bold;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p {
    font-family: Nunito Regular;
    padding: 1em;
}